.navigation {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 300px;
    margin-top: 300px;
}

.navigation .react-tabs {
    display: flex;
    flex-direction: row;
}

.navigation .link {
	list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 25px 0;
}

.navigation .link:active {
    color: red;
}
/* .navigation .navigation-list {
	display: flex;
    flex-direction: row;
    place-content: space-between;
    padding: 0 20px;
} */

/* .navigation ul li div {
    display: flex;
    flex-direction: column;
    align-items: center;
} */